doctype html
html(amp lang='zh-hant')
  head
    include ../partials/_meta-tags

    //- css 設定
    link(rel='shortcut icon', href='./dist/favicons/favicon.ico')
    link(rel='stylesheet', href='./dist/css/bootstrap.css')
    link(rel='stylesheet', href='./dist/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='./dist/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='./dist/css/headline.css')

    //- js 設定
    script(src='./dist/js/jquery-1.11.2.min.js')
    script(src='./dist/js/bootstrap.min.js')
    script(src='./dist/js/jquery.backstretch.min.js')
    script(src='./dist/js/jquery.lazyload.min.js')
    script(src='./dist/js/smooth-scroll.min.js')
    script(src='./dist/js/skel.min.js')
    script(src='./dist/js/util.min.js')
    script(src='./dist/js/main.min.js')
    script(src='./dist/js/headline.min.js')
    block js

  body

    block content

    include ../partials/_footer
    include ../partials/_type-form
