#speaker {
    .media
    {
        margin: 10px 5px;
        .is-keynote {
            position: absolute;
            top: 0;
            z-index: 10;
        }
        .img-circle {
            width: 120px;
            height: 120px;

            &.dp
            {
                border:10px solid #eee;
                transition: all 0.5s ease-in-out;
            }
            &.dp:hover
            {
                border:2px solid #eee;
                transform:rotate(360deg);
                -ms-transform:rotate(360deg);
                -webkit-transform:rotate(360deg);
                /*-webkit-font-smoothing:antialiased;*/
            }
        }
        .media-heading {
            margin: 0;
            small {
                margin-left: 10px;
            }
        }
        .desc {
            font-size: 13px;
            font-weight: normal;
        }
    }
}
