extends ./partials/_layout

block content
  //- Header
  section#header
    .container
      .inner
        .title
          img.image.img-responsive.lazy(itemprop="image" data-original='./images/jsdc-logo.png', alt='JSDC 2017')
          h2 全民 Coder 時代

        p.final-countdown.c-bold.c-font-white ---
        .c-bold.c-font-white 今年 11 月 4 - 5 日正式登場
        a(href="https://goo.gl/maps/dwvvEzHhQUQ2" data-mode="1" target="_blank" style="color: #fff")
          i.fa.fa-map-marker(style="margin-right: 5px;")
          | 臺灣大學 社會科學院
        ul.actions
          li
            a.button(href='#news') 繼續探索

  section#news
    #news-line
    .container
      .row#news-wrapper
        .col-xs-12
          header.major.text-center
            h2 售票資訊
        .news-container
          iframe.kktix(src='https://kktix.com/tickets_widget?slug=jsdc2017', frameborder='0', height='380px', width='100%', vspace='0', hspace='0', marginheight='5', marginwidth='5', scrolling='auto', allowtransparency='true')

block js
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[0].classList.add('active');
    }, 0);
